/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */


body {
    font-family: Lato, "Open Sans", Roboto, 'alex-brush', "Helvetica Neue", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"sans-serif,;
    color: #262690;
    background-color: #B7BED1;
	font-style: normal;
	font-weight: 400;
font: "alex-brush"
	
  
   		
}

body {
  font-family: var(--bs-font-monospace);
  body-line-height: 1.4;
  color: #262690;
}


/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    
	background-color: #ED6A9A;
	color: white
    
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #FFACDB;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #F0548C;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
